<mat-toolbar color="warn">
    <span>E-Learning</span>
  </mat-toolbar>
  
  
  <div class="row"> 
    <div class="main col-5" style="text-align: center;" >
      <div class="log">
        <div class=mat-title>Signup</div><i class="fas fa-check"></i>
  </div>
    <div class=mail>
      <mat-form-field floatLabel=never appearance='outline' color='warn'>
      <mat-label>Enter email</mat-label>
        <input matInput type="email" autocomplete="off">
    </mat-form-field>
    </div>
  <div class=mail>
      <mat-form-field floatLabel=never appearance='outline' color='warn'>
      <mat-label>Enter Username</mat-label>
          <input matInput type="name" autocomplete="off">
      </mat-form-field>
  </div>
  <div class=mail>
      <mat-form-field floatLabel=never appearance='outline' color='warn'>
          <mat-label>Enter Mobilenumber</mat-label>
          <input matInput type="number" autocomplete="off">
      </mat-form-field>
  </div>
  <div class=mail>
      <mat-form-field appearance='outline' color='warn'>
          <mat-label>Enter Password</mat-label>
          <input matInput type="password" autocomplete="off">
      </mat-form-field>
  </div>
  <div class=mail>
      <mat-form-field floatLabel=never appearance='outline' color='warn'>
      <mat-label>Confirm password</mat-label>
        <input matInput type="password" autocomplete="off">
    </mat-form-field>
  </div>
    <div class=login>
      <button mat-raised-button>signup
        </button>
    </div><div class=sign>
      <div>Already a User?<button disableRipple mat-button><a class="anchor" routerLink="/login" routerLinkActive=true>Login</a></button>
      </div>
    </div>
    </div>
    <div class="learn col-7" style="text-align: center;">
    <img src="assets\img\E_learning logo.jpg" alt="loading">
  </div>