<mat-toolbar class="navbar" style="background-color: #2ba7a1; color: white; font-family: 'Roboto Condensed', sans-serif; ">
    <div style="font-size: xx-large;">E-Learning</div>
    <div>
      <a style="margin-right: 2%;">Welcome {{ user?.username }}!</a>
      <span>
         <a routerLink="/admindashboard" routerLinkActive=true><button  mat-button *ngIf="user?.email === 'admin@email.com' && user?.password === '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918'" class=buttons>Home</button></a>
         <a routerLink="/resource" routerLinkActive=true><button mat-button *ngIf="user" class=buttons>Course</button></a>
         <a routerLink="/logout" routerLinkActive=true><button mat-button *ngIf="user"class=buttons>Logout</button></a>
      </span>
</div>
</mat-toolbar>

  <div class="row">
      <div *ngIf="user?.role === 'professor'" col-6 style="text-align:right;"><ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <button mat-raised-button style="background-color: #2ba7a1; color: white;"><a class="nav-link" (click)="onOpenModal(resources[0], 'add')">Add Resource<span class="sr-only">(current)</span></a></button>
        </li>
     </ul></div>
     <div class="col-6" style="margin-left:45%;"><form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchResources(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search resources..." required>
     </form></div>
  </div>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let resource of resources" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <a routerLink="/user/{{resource?.resourceId}}" routerLinkActive=true>
          <div class="card-body row">
             <div class="col-6">
                <a href="{{resource?.imageUrl}}"><img src="{{resource?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h2>{{resource?.resourceName}}</h2>
                <p class="m-0">{{resource?.resourceCategory}}</p>
                <div class="float-right btn-group btn-group-sm">
                  <mat-icon *ngIf="resource?.verified">verified_user</mat-icon>
                  <mat-icon *ngIf="!resource?.verified">watch_later</mat-icon>
            </div>
             </div>
          </div></a>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">Created On: {{resource?.createdOn}}</li>
             <li class="list-group-item">Created By: {{resource?.createdBy?.username}}</li>
          </ul>
          <div class="card-body">
            <div class="float-left btn-group btn-group-sm">
               <mat-icon *ngIf="resource?.active">visibility</mat-icon>
               <mat-icon *ngIf="!resource?.active">visibility_off</mat-icon>
            </div>
             <div class="float-right btn-group btn-group-sm">
                <a *ngIf="user?.role === 'professor' || user?.role === 'admin'" (click)="onOpenModal(resource, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a *ngIf="user?.role === 'professor'" (click)="onOpenModal(resource, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                
             </div>
          </div>
       </div>
      
    </div>
  </div>
  
  <!-- Add Resource Modal -->
  <div *ngIf="user?.role === 'professor'" class="modal fade" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="addResourceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addResourceModalLabel">Add Resource</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddResource(addForm)">
            <div class="form-group">
               <label for="resourceName">Name</label>
               <input type="text" ngModel name="resourceName" class="form-control" id="resourceName" placeholder="Name" required>
            </div>
            <div class="form-group">
               <label for="resourceLink">Youtube Video Id</label>
               <input type="text" ngModel name="resourceLink" class="form-control" id="resourceLink" placeholder="after the '='" required>
            </div>
            <div class="form-group">
               <label for="resourcepdfLink">PDF Link</label>
               <input type="text" ngModel name="resourcepdfLink" class="form-control" id="resourcepdfLink" placeholder="Link" required>
            </div>
            <div class="form-group">
               <label for="category">Category</label>
               <input type="text" ngModel name="resourceCategory" class="form-control" id="resourceCategory" placeholder="Category" required>
            </div>
            <div class="form-group">
               <label for="imageUrl">Image URL</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-resource-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add Resource</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div *ngIf="user?.role === 'professor' || user?.role === 'admin'" class="modal fade" id="updateResourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateResourceModalLabel">Edit Resource {{editResource?.resourceName}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editResource?.resourceName}}" name="resourceName" class="form-control" id="resourceName" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editResource?.resourceId}}" name="resourceId" class="form-control" id="resourceId" placeholder="Email">
                <input type="hidden" ngModel="{{editResource?.createdOn}}" name="createdOn" class="form-control" id="createdOn" placeholder="Email">
                
                <div class="form-group">
                   <label for="resourceLink">Video Link</label>
                   <input type="text" ngModel="{{editResource?.resourceLink}}" name="resourceLink" class="form-control" id="resourceLink" placeholder="Link">
                </div>
                <div class="form-group">
                  <label for="resourcepdfLink">PDF Link</label>
                  <input type="text" ngModel="{{editResource?.resourcepdfLink}}" name="resourcepdfLink" class="form-control" id="resourcepdfLink" placeholder="Link" required>
               </div>
                <div class="form-group">
                   <label for="category">Category</label>
                   <input type="text" ngModel="{{editResource?.resourceCategory}}" name="resourceCategory" class="form-control" id="resourceCategory" placeholder="Category">
                </div>
                <div class="form-group">
                   <label for="imageUrl">Image URL</label>
                   <input type="text" ngModel="{{editResource?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateResource(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div *ngIf="user?.role === 'professor'" class="modal fade" id="deleteResourceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Resource</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete resource {{deleteResource?.resourceName}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteResource(deleteResource.resourceId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no resources -->
  <div *ngIf="resources?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO RESOURCES!</h4>
    <p>No Resources were found.</p>
  </div>
  </div>
