<mat-toolbar class="navbar" style="background-color: #2ba7a1; color: white; font-family: 'Roboto Condensed', sans-serif; ">
    <div style="font-size: xx-large;">E-Learning</div>
    <div *ngIf="user?.email === 'admin@email.com' && user?.password === '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918'">
      <a style="margin-right: 3%;">Welcome admin!</a>
      <span>
        <a routerLink="/admindashboard" routerLinkActive=true><button mat-button class=buttons>Home</button></a>
        <a routerLink="/resource" routerLinkActive=true><button mat-button class=buttons >Course</button></a>
        <a routerLink="/logout" routerLinkActive=true><button mat-button class=buttons>Logout</button></a>
      </span>
</div>
</mat-toolbar>

<div class="col-6" style="margin-left:45%;"> <form class="form-inline my-2 my-lg-0">
  <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel
   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search users..." required>
</form></div>


<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-6 col-xl-4">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6 card-title align-self-center mb-0">
                <h2>{{user?.username}} <mat-icon *ngIf="user?.verify">verified_user</mat-icon>
                  <mat-icon *ngIf="!user?.verify">watch_later</mat-icon></h2>
             </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Qualification: {{user?.qualification}}</li>
             <li class="list-group-item">Role: {{user?.role}}</li>
             <li class="list-group-item">E-mail ID: {{user?.email}}</li>
             <li class="list-group-item">Contact Number: {{user?.mobileNumber}}</li>
             
          </ul>
          <div class="card-body">
            <div class="float-left btn-group btn-group-sm">
               <mat-icon *ngIf="user?.active">visibility</mat-icon>
               <mat-icon *ngIf="!user?.active">visibility_off</mat-icon>
            </div>
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(user, 'verify')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Verify"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>

  
  <!-- Edit Modal -->
  <div class="modal fade" id="verifyUserModal" tabindex="-1" role="dialog" aria-labelledby="userVerifyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="userVerifyModalLabel">Verify User {{verifyUser?.username}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #verifyForm="ngForm">
                   <input type="hidden" ngModel="{{verifyUser?.username}}" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Name">
                <input type="hidden" ngModel="{{verifyUser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                <input type="hidden" ngModel="{{verifyUser?.password}}" name="password" class="form-control" id="password" placeholder="Email">
                
                   <input type="hidden" ngModel="{{verifyUser?.mobileNumber}}" name="mobileNumber" class="form-control" id="mobileNumber" placeholder="Link">
                
                   <input type="hidden" ngModel="{{verifyUser?.qualification}}" name="qualification" class="form-control" id="qualification" placeholder="Category">
              
                   <input type="hidden" ngModel="{{verifyUser?.role}}" name="role" class="form-control" id="imageUrl" placeholder="Image URL">
                   <p *ngIf="!verifyUser?.verify">Are you sure you want to Verify resource {{verifyUser?.username}}?</p>
                   <p *ngIf="verifyUser?.verify">Are you sure you want to Unverify resource {{verifyUser?.username}}?</p>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button *ngIf="!verifyUser?.verify" (click)="onVerifyUser(verifyForm.value)" data-dismiss="modal" class="btn btn-primary">Verify User</button>
                   <button *ngIf="verifyUser?.verify" (click)="onVerifyUser(verifyForm.value)" data-dismiss="modal" class="btn btn-primary">Unverify User</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete user {{deleteUser?.username}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteUser(deleteUser.email)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no resources -->
  <div *ngIf="users && users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO USERS!</h4>
    <p>No users were found.</p>
  </div>
  </div>
