<mat-toolbar style="background-color: #2ba7a1; padding-right: 0;">
    <span style="color: rgb(253, 253, 253);">E-Learning</span>
  </mat-toolbar>
<div class="row"> 
  <div class="main col-5" >
    <div class="log"><div class=mat-title><h1>Login</h1></div>
  </div>
  <form #addForm="ngForm" (ngSubmit)="onCheckUser(addForm)">
    <div class=mailpass>
      <mat-form-field appearance='outline' style="width: 40%;">
      <mat-label>Enter email</mat-label>
      <input name="name" type="name" matInput autocomplete="off">
    </mat-form-field>
    <div>
    <mat-form-field appearance='outline' style="width: 40%;">
      <mat-label>Enter Password</mat-label>
      <input name="password" type="password" matInput autocomplete="off">
    </mat-form-field>
    </div>
    </div>
    <div class=login>
      <button mat-raised-button [disabled]="addForm.invalid" type="submit" style="background-color:#2ba7a1; color: white;">Login</button>
    </div>
    
    <div class=sign>
      <div>New User?<button type="button"  id="add-login-form" data-dismiss="modal" disableRipple mat-button><a routerLink="/signup" routerLinkActive=true style="color: #155350; text-decoration: none;" >Signup</a></button>
      </div>
    </div>
  </form>
  </div>
  <div class="learn col-7" style="text-align: center;">
    <img src="assets\img\E_learning logo.jpg" alt="loading">
  </div>
</div>

  