<mat-toolbar  style="background-color:#2ba7a1;" class="navbar">
    <div style="color: rgb(255, 255, 255);">E-Learning</div>
    <div>
        <button mat-button style="background-color: rgb(255, 255, 255);"><a routerLink="/login" routerLinkActive=true style="background-color: rgb(255, 255, 255); text-decoration: none;">Logout</a></button>
</div>
</mat-toolbar>
<div class="row">
    <div class="col-8">
        <iframe width="1000" height="600" style= "margin-left: 2rem; margin-top: 2rem;" src="{{video}}"></iframe>
<div class="video-url" style="text-align: center;">
    Video-URL:<button mat-button><a href="{{video}}"><h2>{{video}}</h2></a></button>
</div>
<div>
    <iframe width="1000" height="500" src="https://carnegieendowment.org/files/CEIP_Khosla_Report_FNL_w_covers.pdf" style="margin-left: 2rem; margin-top: 1rem;"></iframe>
    <div class="pdf-url" style="text-align: center;">
       pdf-URL:<button mat-button><a href="{{pdf}}"><h2>{{pdf}}</h2></a></button>
    </div>
</div>
    </div>

    <!--Chat-->
    <div class="col-4" style="padding-top: 2%;">
        <div class="chatbox">
            <div class="messages">
            <div *ngFor="let chatMessage of resourceService.chatMessages">
            
             <strong><h3>{{chatMessage.message}}</h3></strong>
            </div>
            </div>
            <div class="input-container">
                <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
                <input type="hidden" class="form-control" name="user" id="input-user" ngModel={{resource?.createdBy}} >
                <input type="hidden" class="form-control" name="user" id="input-user" ngModel={{user}} >
                <input type="text" class="form-control" name="message" id="input-message" ngModel style="width: 75%; height: 180%;">
            <button mat-button class="replyBtn" type="submit" style="background-color:#2ba7a1; margin-left: 2%;">Send</button>
            </form></div>
            </div>
    </div>
</div>
